.post{
    width:90%
}


/* for scaling to small screens */
@media screen and (max-width : 1156px)
{
    .post{
	width:100%;
	max-width:950px;
		  
    }
}

.media{
    display:inline;
    max-width:100%;
    height:auto;
}

.mediaiframe{
    width: 950px;
    max-width:100%;
    height:75%;
}

.mediaiframe iframe {
    width: 100%; height: 100%;
}

